body{
  background-color: rgba(17, 24, 39);
}

/* Login */
.Login_main_container{
  color: black;
  width: 70%;
  background-color: white;
  margin:4% auto;
  border: 5px solid rgba(55, 65, 81);
  border-radius: 25px;
}
.firstdiv{
  padding: 2%;
}
.image_login{
  width: 70%;
  height: 500px;
}
.login_div{
  margin:20px auto;
  padding: 35px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
}

.h1tag{
  margin: 7% auto;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  color: rgba(55, 65, 81);
}
.h4tag{
  margin: 5%;
  text-align: center;
}
.link{
  color: rgba(55, 65, 81);
  text-decoration:none;
  font-weight: bold;
}
.link:hover {
  color: rgba(17, 24, 39);
}
.btn {
  background-color: black;
  color: white;
}
.btn:hover{
  background-color:rgba(55, 65, 81);
}

/* RESPONSIVE  */

@media only screen and (max-width: 890px){
  .login_div{
    padding: 15px;
  }
  .image_login{
    width: 100%;
  }
}


@media (max-width: 700px) and (min-width: 600px){
  .login_div{
    padding: 20px;
    width: 100%;
    margin: 50px auto;
  }
  .image_login{
    width: 70%;
    }
  
}
@media (max-width: 599px){
  .login_div{
    padding:20px 10px;
    margin:1% ;
    width: 100%;
    flex: 2;
  }
  .image_login{
    width: 50%;
    padding-right: 0;
  }
  .firstdiv{
    padding-right: 0;
  }
}

