.App_main_div{
  background-color: rgba(17, 24, 39);
  color: white;
}

/* Login */
.Login_main_container{
  width: auto;
  padding: 5%;
}
.image_login{
  width: 70%;
  height: 100%;
}
.LoginSeconddiv{
  display: flex;
}
.input{
  width: 100%;
}